# Movie Reco Systerm: 
Building a recommendation system that suggests similar movies based on genres, production companies, and language based on TMBD data set

In [1]:
import numpy as np
import pandas as pd

In [2]:
movies_data = pd.read_csv(r'D:\Adenosine Triphosphate\KAM KA BUTTER\Data Science\Capstone Projects\Movie Reco System\TMDB_movie_dataset_v11.csv\TMDB_movie_dataset_v11.csv')

In [3]:
movies_data.head(2)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English

In [4]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949959 entries, 0 to 949958
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    949959 non-null  int64
 1   title                 949948 non-null  object
 2   vote_average          949959 non-null  float64
 3   vote_count            949959 non-null  int64
 4   status                949959 non-null  object
 5   release_date          860753 non-null  object
 6   revenue               949959 non-null  int64
 7   runtime               949959 non-null  int64
 8   adult                 949959 non-null  bool
 9   backdrop_path         278029 non-null  object
 10  budget                949959 non-null  int64
 11  homepage              103495 non-null  object
 12  imdb_id               557058 non-null  object
 13  original_language     949959 non-null  object
 14  original_title        949948 non-null  object
 15  overview              783876 non-null  object
 16  popularity            949959 non-null  float64
 17  poster_path           703915 non-null  object
 18  tagline               137839 non-null  object
 19  genres                613436 non-null  object
 20  production_companies  462361 non-null  object
 21  production_countries  578478 non-null  object
 22  spoken_languages      584857 non-null  object
dtypes: bool(1), float64(2), int64(5), object(15)
memory usage: 160.4+ MB

In [5]:
movies_data.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages'],
      dtype='object')

In [6]:
movies = movies_data[['id','title','overview','genres','original_language','production_companies','tagline']]
movies.head()

,id,title,overview,genres,original_language,production_companies,tagline
0,27205,Inception,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure",en,"Legendary Pictures, Syncopy, Warner Bros. Pict...",Your mind is the scene of the crime.
1,157336,Interstellar,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction",en,"Legendary Pictures, Syncopy, Lynda Obst Produc...",Mankind was born on Earth. It was never meant ...
2,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller",en,"DC Comics, Legendary Pictures, Syncopy, Isobel...",Welcome to a world without rules.
3,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction",en,"Dune Entertainment, Lightstorm Entertainment, ...",Enter the world of Pandora.
4,24428,The Avengers,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",en,Marvel Studios,Some assembly required.

In [7]:
movies.isna().sum()

id                           0
title                       11
overview                166083
genres                  336523
original_language            0
production_companies    487598
tagline                 812120
dtype: int64

In [8]:
movies.dropna(inplace=True)
movies.shape

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\1796543263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

(82521, 7)

In [9]:
movies.sample(5)

,id,title,overview,genres,original_language,production_companies,tagline
19275,54013,The Visitor,An ancient intergalactic warrior arrives on Ea...,"Horror, Science Fiction",en,"Brouwersgracht Investments, Swan American Film",They know we are here...
27955,40932,Can't Stop the Music,A loose biography of seminal disco hit-makers ...,"Comedy, Music",en,EMI Films,The Musical Comedy Smash of the 80's!
269183,767691,General Rarz,General Rarz is being hunted by the Drug Defen...,"Action, Comedy",en,Rat Face Productions,The old General Rarz is what's going on
22421,26306,Prefontaine,It's the true-life story of legendary track st...,"Drama, Romance",en,Hollywood Pictures,He beat the odds... And became a legend!
31971,50463,The Favor,Kathy is married to Peter. Now she can't help ...,"Comedy, Romance",en,"Orion Pictures, Nelson Entertainment",Two Women. Three Men. One Secret.

In [10]:
movies['genres'].unique()

array(['Action, Science Fiction, Adventure',
       'Adventure, Drama, Science Fiction',
       'Drama, Action, Crime, Thriller', ...,
       'TV Movie, Crime, Drama, Thriller',
       'Drama, Mystery, Thriller, Music',
       'Drama, Horror, Action, Adventure'], dtype=object)

In [11]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [12]:
movies.columns

Index(['id', 'title', 'overview', 'genres', 'original_language',
       'production_companies', 'tagline'],
      dtype='object')

In [13]:
movies['genres'] = movies['genres'].apply(lambda x: x.split(','))

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\2920653608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(lambda x: x.split(','))

In [14]:
movies['genres'] = movies['genres'].apply(collapse)

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\375938756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(collapse)

In [15]:
movies['genres']

0                  [Action, ScienceFiction, Adventure]
1                   [Adventure, Drama, ScienceFiction]
2                     [Drama, Action, Crime, Thriller]
3         [Action, Adventure, Fantasy, ScienceFiction]
4                  [ScienceFiction, Action, Adventure]
                              ...
949818                                         [Drama]
949820                                         [Drama]
949876                                        [Horror]
949904                                        [Horror]
949951                                       [Romance]
Name: genres, Length: 82521, dtype: object

In [16]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\3942134491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [17]:
movies['original_language'] = movies['original_language'].apply(lambda x: x.split())

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\879119460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['original_language'] = movies['original_language'].apply(lambda x: x.split())

In [18]:
movies['production_companies'] = movies['production_companies'].apply(lambda x: x.split())

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\993677963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['production_companies'] = movies['production_companies'].apply(lambda x: x.split())

In [19]:
movies['tagline'] = movies['tagline'].apply(lambda x: x.split())

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\3384521792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tagline'] = movies['tagline'].apply(lambda x: x.split())

In [20]:
movies.sample(5)

,id,title,overview,genres,original_language,production_companies,tagline
907871,644263,Scope,"[When, a, young, man, drops, out, of, school, ...",[Drama],[en],"[Fight, Back, Films]","[Ambition, can't, be, kept, locked, up, inside.]"
166767,365359,Detours,"[A, newly, single, New, Yorker, must, re-locat...","[Comedy, Drama]",[en],"[About, Us, Productions]","[What, we, seek, isn't, always, what, we, need.]"
757125,518647,Lessons of War,"[Meeting, with, numerous, musicians, affected,...","[Documentary, Music]",[en],"[Dortbox, Films]","[A, global, music, project.]"
44761,23125,Mesa of Lost Women,"[A, mad, scientist,, Dr., Aranya, (Jackie, Coo...","[Horror, ScienceFiction]",[en],"[Ron, Ormond, Productions,, Howco, Productions...","[A, race, of, deadly, spider-women, luring, me..."
44578,288980,Freedom,"[Two, men, separated, by, 100, years, are, uni...","[Drama, Music]",[en],"[Production, One]","[John, Newton's, Amazing, Grace]"

In [21]:
movies['tags'] = movies['genres'] + movies['original_language'] + movies['overview'] + movies['production_companies'] + movies['tagline']

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\527759215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['genres'] + movies['original_language'] + movies['overview'] + movies['production_companies'] + movies['tagline']

In [22]:
df = movies[['id','title','tags']]
df.sample   (5)

,id,title,tags
112256,890245,Body Parts,"[Documentary, en, An, eye-opening, investigati..."
477882,897503,Frog Guy,"[Comedy, Drama, Fantasy, en, A, frog, tries, t..."
51158,420560,Anna,"[Drama, es, Anna, is, a, young, woman, living,..."
570337,1040841,Assault,"[Action, Thriller, ta, Etha, and, Tharas, came..."
8710,17182,Eye for an Eye,"[Thriller, en, It's, fire, and, brimstone, tim..."

In [23]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))
df.head()

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\2621718160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(lambda x: " ".join(x))

       id            title                                               tags
0   27205        Inception  Action ScienceFiction Adventure en Cobb, a ski...
1  157336     Interstellar  Adventure Drama ScienceFiction en The adventur...
2     155  The Dark Knight  Drama Action Crime Thriller en Batman raises t...
3   19995           Avatar  Action Adventure Fantasy ScienceFiction en In ...
4   24428     The Avengers  ScienceFiction Action Adventure en When an une...

### Stemming

In [24]:
import nltk 
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [25]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

stem(df['tags'][0])

'action sciencefict adventur en cobb, a skill thief who commit corpor espionag by infiltr the subconsci of hi target is offer a chanc to regain hi old life as payment for a task consid to be impossible: "inception", the implant of anoth person\' idea into a target\' subconscious. legendari pictures, syncopy, warner bros. pictur your mind is the scene of the crime.'

In [26]:
df['tags'] = df['tags'].apply(stem)

C:\Users\tinku\AppData\Local\Temp\ipykernel_6888\866399325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = df['tags'].apply(stem)

In [27]:
df.head()

       id            title                                               tags
0   27205        Inception  action sciencefict adventur en cobb, a skill t...
1  157336     Interstellar  adventur drama sciencefict en the adventur of ...
2     155  The Dark Knight  drama action crime thriller en batman rais the...
3   19995           Avatar  action adventur fantasi sciencefict en in the ...
4   24428     The Avengers  sciencefict action adventur en when an unexpec...

### Vectorizing & Similarity

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [29]:
vector = cv.fit_transform(df['tags']).toarray()

In [30]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [31]:
vector.shape

(82521, 5000)

In [32]:
from sklearn.metrics.pairwise import cosine_similarity # angular distance

In [57]:
vector.shape

(82521, 5000)

In [52]:
similarity = cosine_similarity(vector.reshape(-1,1))
similarity

MemoryError: Unable to allocate 1.18 EiB for an array with shape (412605000, 412605000) and data type float64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82521 entries, 0 to 949951
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      82521 non-null  int64
 1   title   82521 non-null  object
 2   tags    82521 non-null  object
dtypes: int64(1), object(2)
memory usage: 4.5+ MB

## TF IDF

In [41]:
df['tags']

0         action sciencefict adventur en cobb, a skill t...
1         adventur drama sciencefict en the adventur of ...
2         drama action crime thriller en batman rais the...
3         action adventur fantasi sciencefict en in the ...
4         sciencefict action adventur en when an unexpec...
                                ...
949818    drama en oliv beresford is a stern, puritanica...
949820    drama en a broadway actress becom a star due t...
949876    horror en the johnson famili is move in to a b...
949904    horror en on new year' eve, a faculti parti fo...
949951    romanc en two best friend nora and candi have ...
Name: tags, Length: 82521, dtype: object

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf.fit(df['tags'])

TfidfVectorizer()

In [43]:
tfidf.build_analyzer

In [44]:
tfidf.vocabulary_

{'action': 2517,
 'sciencefict': 89712,
 'adventur': 2888,
 'en': 32265,
 'cobb': 21137,
 'skill': 93492,
 'thief': 101807,
 'who': 111266,
 'commit': 21783,
 'corpor': 23074,
 'espionag': 33246,
 'by': 16094,
 'infiltr': 49488,
 'the': 101615,
 'subconsci': 97829,
 'of': 73168,
 'hi': 45751,
 'target': 100301,
 'is': 50736,
 'offer': 73193,
 'chanc': 18553,
 'to': 102711,
 'regain': 84188,
 'old': 73421,
 'life': 59376,
 'as': 7192,
 'payment': 76543,
 'for': 37403,
 'task': 100385,
 'consid': 22436,
 'be': 10428,
 'impossible': 48886,
 'inception': 49065,
 'implant': 48841,
 'anoth': 5669,
 'person': 77356,
 'idea': 48171,
 'into': 50306,
 'subconscious': 97830,
 'legendari': 58657,
 'pictures': 78058,
 'syncopy': 99369,
 'warner': 110210,
 'bros': 15101,
 'pictur': 78047,
 'your': 113593,
 'mind': 66502,
 'scene': 89363,
 'crime': 23938,
 'drama': 29714,
 'group': 42639,
 'explor': 34123,
 'make': 62233,
 'use': 107291,
 'newli': 71120,
 'discov': 28283,
 'wormhol': 112396,
 'surpass': 98747,
 'limit': 59599,
 'on': 73626,
 'human': 47489,
 'space': 95318,
 'travel': 103893,
 'and': 5217,
 'conquer': 22373,
 'vast': 107972,
 'distanc': 28573,
 'involv': 50484,
 'in': 48977,
 'an': 5057,
 'interstellar': 50242,
 'voyage': 109580,
 'lynda': 61318,
 'obst': 72915,
 'product': 80684,
 'mankind': 62838,
 'wa': 109760,
 'born': 13851,
 'earth': 30827,
 'it': 50919,
 'never': 71043,
 'meant': 64794,
 'die': 27735,
 'here': 45521,
 'thriller': 102029,
 'batman': 10189,
 'rais': 82736,
 'stake': 96292,
 'war': 110128,
 'with': 111937,
 'help': 45323,
 'lt': 60810,
 'jim': 52220,
 'gordon': 41635,
 'district': 28623,
 'attorney': 7927,
 'harvey': 44476,
 'dent': 26844,
 'set': 91005,
 'out': 74515,
 'dismantl': 28414,
 'remain': 84532,
 'crimin': 23948,
 'organ': 74061,
 'that': 101596,
 'plagu': 78600,
 'streets': 97451,
 'partnership': 76115,
 'prove': 81112,
 'effective': 31286,
 'but': 15990,
 'they': 101779,
 'soon': 95014,
 'find': 36309,
 'themselv': 101674,
 'prey': 80366,
 'reign': 84313,
 'chao': 18651,
 'unleash': 106584,
 'rise': 85909,
 'mastermind': 63821,
 'known': 55897,
 'terrifi': 101306,
 'citizen': 20444,
 'gotham': 41739,
 'joker': 52500,
 'dc': 25828,
 'comics': 21710,
 'isobel': 50852,
 'griffiths': 42407,
 'welcom': 110758,
 'world': 112372,
 'without': 111957,
 'rules': 87312,
 'fantasi': 34831,
 '22nd': 880,
 'century': 18249,
 'parapleg': 75851,
 'marin': 63277,
 'dispatch': 28464,
 'moon': 67916,
 'pandora': 75501,
 'uniqu': 106512,
 'mission': 66967,
 'becom': 10630,
 'torn': 103230,
 'between': 11622,
 'follow': 37270,
 'order': 74016,
 'protect': 81044,
 'alien': 4142,
 'civilization': 20489,
 'dune': 30355,
 'entertainment': 32667,
 'lightstorm': 59478,
 '20th': 827,
 'centuri': 18245,
 'fox': 37768,
 'ingeni': 49582,
 'media': 64882,
 'enter': 32641,
 'when': 111094,
 'unexpect': 106290,
 'enemi': 32413,
 'emerg': 32092,
 'threaten': 101998,
 'global': 41013,
 'safeti': 87917,
 'security': 90249,
 'nick': 71326,
 'fury': 38825,
 'director': 28118,
 'intern': 50172,
 'peacekeep': 76611,
 'agenc': 3214,
 'himself': 46028,
 'need': 70613,
 'team': 100648,
 'pull': 81497,
 'back': 8835,
 'from': 38387,
 'brink': 14866,
 'disaster': 28200,
 'span': 95370,
 'globe': 41023,
 'dare': 25455,
 'recruit': 83866,
 'effort': 31307,
 'begins': 10792,
 'marvel': 63605,
 'studio': 97657,
 'some': 94860,
 'assembl': 7491,
 'required': 84930,
 'comedi': 21672,
 'origin': 74116,
 'stori': 97207,
 'former': 37566,
 'special': 95493,
 'forc': 37419,
 'oper': 73815,
 'turn': 105003,
 'mercenari': 65510,
 'wade': 109808,
 'wilson': 111633,
 'after': 3141,
 'subject': 97852,
 'rogu': 86404,
 'experi': 34064,
 'leav': 58502,
 'him': 46013,
 'acceler': 2273,
 'heal': 44914,
 'powers': 79849,
 'adopt': 2803,
 'alter': 4487,
 'ego': 31378,
 'deadpool': 25881,
 'arm': 6759,
 'new': 71070,
 'abil': 2046,
 'dark': 25487,
 'twist': 105242,
 'sens': 90683,
 'humor': 47550,
 'hunt': 47624,
 'down': 29564,
 'man': 62585,
 'nearli': 70521,
 'destroy': 27219,
 'donners': 29246,
 'company': 21869,
 'genr': 40065,
 'film': 35893,
 'wit': 111919,
 'begin': 10782,
 'happi': 44152,
 'ending': 32372,
 'aveng': 8316,
 'their': 101655,
 'alli': 4281,
 'have': 44671,
 'continu': 22629,
 'threat': 101997,
 'too': 103068,
 'larg': 57955,
 'ani': 5453,
 'one': 73650,
 'hero': 45597,
 'handle': 43969,
 'danger': 25316,
 'ha': 43434,
 'cosmic': 23219,
 'shadows': 91280,
 'thanos': 101584,
 'despot': 27192,
 'intergalact': 50126,
 'infamy': 49450,
 'goal': 41171,
 'collect': 21451,
 'all': 4212,
 'six': 93315,
 'infin': 49495,
 'stones': 97147,
 'artifact': 7062,
 'unimagin': 106468,
 'power': 79829,
 'them': 101663,
 'inflict': 49516,
 'will': 111573,
 'reality': 83567,
 'everyth': 33732,
 'fought': 37707,
 'led': 58560,
 'up': 107051,
 'thi': 101784,
 'moment': 67545,
 'fate': 35043,
 'exist': 33979,
 'itself': 50983,
 'been': 10725,
 'more': 68083,
 'uncertain': 105949,
 'entir': 32690,
 'universe': 106539,
 'onc': 73636,
 'ticking': 102230,
 'time': 102390,
 'bomb': 13475,
 'insomniac': 49892,
 'slipperi': 93904,
 'soap': 94476,
 'salesman': 88150,
 'channel': 18623,
 'primal': 80422,
 'male': 62372,
 'aggress': 3241,
 'shock': 92156,
 'form': 37548,
 'therapy': 101721,
 'concept': 22076,
 'catch': 17761,
 'underground': 106125,
 'fight': 35809,
 'clubs': 21002,
 'everi': 33702,
 'town': 103457,
 'until': 106968,
 'eccentr': 30977,
 'get': 40296,
 'way': 110470,
 'ignit': 48339,
 'control': 22696,
 'spiral': 95730,
 'toward': 103448,
 'oblivion': 72858,
 'regenc': 84204,
 'enterprises': 32652,
 '2000': 716,
 'tauru': 100506,
 'atman': 7794,
 'knickerbock': 55823,
 'films': 36170,
 'linson': 59722,
 'mischief': 66847,
 'mayhem': 64253,
 'light': 59428,
 'year': 113204,
 '26': 946,
 'abducted': 1975,
 'peter': 77485,
 'quill': 82217,
 'prime': 80430,
 'manhunt': 62776,
 'orb': 73980,
 'want': 110114,
 'ronan': 86611,
 'accuser': 2367,
 'start': 96517,
 'somewhere': 94887,
 'burger': 15795,
 'lov': 60650,
 'hit': 46210,
 'philosoph': 77809,
 'partner': 76113,
 'drug': 30026,
 'addl': 2641,
 'gangster': 39384,
 'moll': 67509,
 'washed': 110281,
 'boxer': 14144,
 'converg': 22728,
 'sprawling': 95934,
 'comed': 21669,
 'caper': 16995,
 'unfurl': 106378,
 'three': 102003,
 'trip': 104276,
 'forth': 37609,
 'miramax': 66740,
 'band': 9469,
 'apart': 6011,
 'jersey': 52028,
 'just': 53087,
 'becaus': 10592,
 'you': 113550,
 'are': 6562,
 'charact': 18690,
 'doesn': 28969,
 'mean': 64777,
 'character': 18691,
 'romanc': 86526,
 'low': 60731,
 'iq': 50569,
 'accomplish': 2325,
 'great': 42186,
 'thing': 101838,
 'present': 80254,
 'dure': 30458,
 'signific': 92777,
 'histor': 46195,
 'events': 33680,
 'each': 30758,
 'case': 17558,
 'far': 34874,
 'exceed': 33857,
 'what': 111050,
 'anyon': 5948,
 'imagin': 48603,
 'he': 44845,
 'could': 23327,
 'do': 28830,
 'despit': 27183,
 'achieved': 2401,
 'true': 104538,
 'love': 60656,
 'elud': 31947,
 'paramount': 75831,
 'steve': 96890,
 'tisch': 102564,
 'wendi': 110817,
 'finerman': 36326,
 'same': 88305,
 'seen': 90327,
 'through': 102061,
 'eye': 34287,
 'forrest': 37585,
 'gump': 43059,
 'harri': 44392,
 'potter': 79771,
 'live': 59902,
 'under': 106081,
 'stair': 96283,
 'at': 7677,
 'aunt': 8089,
 'uncle': 105974,
 'hous': 47156,
 'whole': 111273,
 '11th': 151,
 'birthday': 12317,
 'learn': 58479,
 'wizard': 112002,
 'place': 78576,
 'wait': 109884,
 'hogwart': 46418,
 'school': 89577,
 'witchcraft': 111923,
 'wizardry': 112006,
 'har': 44169,
 'newfound': 71104,
 'kindli': 55278,
 'headmaster': 44885,
 'uncov': 106045,
 'truth': 104602,
 'about': 2112,
 'parents': 75920,
 'deaths': 25948,
 'villain': 108868,
 'blame': 12634,
 'heyday': 45722,
 '1492': 271,
 'let': 59015,
 'magic': 61898,
 'held': 45207,
 'captiv': 17080,
 'afghan': 3065,
 'cave': 17932,
 'billionair': 12088,
 'engin': 32463,
 'toni': 103027,
 'stark': 96458,
 'creat': 23780,
 'weapon': 110554,
 'suit': 98147,
 'armor': 6809,
 'evil': 33758,
 'aren': 6571,
 'built': 15534,
 'western': 110923,
 'german': 40221,
 'bounti': 14049,
 'hunter': 47628,
 'freed': 38085,
 'slave': 93769,
 'rescu': 84949,
 'wife': 111416,
 'brutal': 15253,
 'mississippi': 66972,
 'plantat': 78653,
 'owner': 74902,
 'weinstein': 110718,
 'columbia': 21607,
 'liberti': 59248,
 'pursuit': 81713,
 'vengeance': 108217,
 'frame': 37869,
 '1940': 623,
 'doubl': 29471,
 'murder': 69130,
 'her': 45487,
 'lover': 60699,
 'upstand': 107158,
 'banker': 9572,
 'andi': 5252,
 'dufresn': 30230,
 'shawshank': 91610,
 'prison': 80519,
 'where': 111100,
 'put': 81764,
 'account': 2338,
 'work': 112334,
 'amor': 4953,
 'warden': 110150,
 'long': 60332,
 'stretch': 97482,
 'come': 21664,
 'admir': 2760,
 'other': 74413,
 'inmat': 49723,
 'includ': 49096,
 'older': 73425,
 'name': 69936,
 'red': 83904,
 'integr': 50022,
 'unquench': 106730,
 'hope': 46837,
 'castl': 17677,
 'rock': 86233,
 'entertain': 32657,
 'fear': 35202,
 'can': 16765,
 'hold': 46452,
 'prisoner': 80520,
 'free': 38080,
 'devast': 27339,
 'event': 33674,
 'avengers': 8320,
 'univers': 106534,
 'ruin': 87285,
 'due': 30198,
 'mad': 61692,
 'titan': 102581,
 'allies': 4289,
 'must': 69310,
 'undo': 106227,
 'restor': 85099,
 'no': 71781,
 'matter': 64042,
 'consequ': 22416,
 'may': 64225,
 'store': 97197,
 'fallen': 34696,
 'matrix': 64005,
 'tell': 100970,
 'comput': 22006,
 'hacker': 43505,
 'join': 52484,
 'insurg': 50002,
 'now': 72342,
 'rule': 87306,
 'villag': 108860,
 'roadshow': 86103,
 'groucho': 42618,
 'ii': 48375,
 'silver': 92873,
 'real': 83548,
 '101': 75,
 'rose': 86748,
 'dewitt': 27452,
 'bukat': 15543,
 'aboard': 2081,
 'titanic': 102583,
 '84': 1676,
 'later': 58095,
 'young': 113568,
 'board': 13140,
 'ship': 92003,
 'mother': 68353,
 'fiancÃ©': 35687,
 'meanwhile': 64798,
 'jack': 51187,
 'dawson': 25749,
 'fabrizio': 34425,
 'de': 25848,
 'rossi': 86839,
 'win': 111655,
 'third': 101857,
 'class': 20628,
 'ticket': 102227,
 'departur': 26881,
 'death': 25934,
 'first': 36493,
 'last': 58065,
 'april': 6260,
 '15': 279,
 '1912': 590,
 'noth': 72236,
 '1980s': 671,
 'fail': 34559,
 'stand': 96352,
 'comedian': 21673,
 'driven': 29962,
 'insan': 49825,
 'citi': 20439,
 'while': 111125,
 'infam': 49447,
 'psychopath': 81317,
 'figure': 35830,
 'joint': 52490,
 'bron': 15045,
 'studios': 97672,
 'face': 34440,
 'hobbit': 46330,
 'frodo': 38366,
 'baggins': 9027,
 'inherit': 49641,
 'mysteri': 69508,
 'ring': 85818,
 'uncl': 105972,
 'bilbo': 12035,
 'home': 46582,
 'keep': 54426,
 'fall': 34687,
 'hand': 43934,
 'creator': 23802,
 'along': 4397,
 'fellowship': 35371,
 'ringbear': 85819,
 'sure': 98692,
 'arriv': 6936,
 'final': 36274,
 'destination': 27206,
 'mt': 68708,
 'doom': 29292,
 'onli': 73695,
 'destroyed': 27220,
 'line': 59659,
 'cinema': 20061,
 'wingnut': 111741,
 'saul': 88996,
 'zaentz': 113875,
 'compani': 21863,
 'aragorn': 6363,
 'reveal': 85268,
 'heir': 45175,
 'ancient': 5205,
 'king': 55307,
 'gandalf': 39347,
 'member': 65316,
 'broken': 15016,
 'struggl': 97606,
 'save': 89058,
 'gondor': 41468,
 'sauron': 89015,
 'forces': 37427,
 'sam': 88270,
 'take': 99835,
 'closer': 20937,
 'heart': 44948,
 'mordor': 68077,
 'lord': 60492,
 'realm': 83584,
 'moving': 68611,
 'soldier': 94725,
 'turned': 105010,
 'marshal': 63498,
 'teddi': 100756,
 'daniel': 25336,
 'investig': 50428,
 'disappear': 28170,
 'patient': 76341,
 'hospit': 47053,
 'insane': 49826,
 'compromis': 21988,
 'troubl': 104471,
 'vision': 109138,
 'doctor': 28901,
 'phoenix': 77851,
 'appian': 6169,
 'sikelia': 92802,
 'productions': 80692,
 'mandat': 62666,
 'go': 41165,
 'york': 113503,
 'stockbrok': 97063,
 'refus': 84180,
 'cooper': 22825,
 'secur': 90242,
 'fraud': 38010,
 'corrupt': 23131,
 'wall': 109987,
 'street': 97440,
 'bank': 9567,
 'mob': 67235,
 'infiltration': 49492,
 'base': 10020,
 'jordan': 52614,
 'belfort': 10923,
 'autobiography': 8203,
 'emjag': 32145,
 'granit': 42018,
 'earn': 30811,
 'spend': 95606,
 'party': 76123,
 'tri': 104098,
 'jumpstart': 52996,
 'dormant': 29393,
 'program': 80808,
 'awri': 8493,
 'mightiest': 66174,
 'ultim': 105688,
 'test': 101385,
 'planet': 78625,
 'hang': 44016,
 'balance': 9204,
 'ultron': 105725,
 'emerges': 32097,
 'stop': 97173,
 'enact': 32268,
 'terribl': 101299,
 'plans': 78646,
 'uneasi': 106252,
 'allianc': 4282,
 'pave': 76471,
 'epic': 32803,
 'adventure': 2889,
 'age': 3207,
 'govern': 41789,
 'pass': 76192,
 'act': 2512,
 'design': 27120,
 'regul': 84269,
 'superhuman': 98533,
 'activity': 2540,
 'polar': 79123,
 'opinion': 73851,
 'amongst': 4949,
 'caus': 17886,
 'two': 105266,
 'faction': 34477,
 'side': 92645,
 'iron': 50634,
 'or': 73946,
 'captain': 17073,
 'america': 4827,
 'which': 111120,
 'battl': 10224,
 'unit': 106521,
 'we': 110528,
 'divid': 28694,
 'assum': 7554,
 'respons': 85067,
 'late': 58087,
 'reput': 84915,
 'subsequ': 97903,
 'polic': 79146,
 'department': 26876,
 'eight': 31446,
 'encount': 32326,
 'selina': 90507,
 'kyle': 57183,
 'bane': 9515,
 'terrorist': 101332,
 'leader': 58427,
 'overwhelm': 74859,
 'finest': 36331,
 'knight': 55832,
 'resurfac': 85130,
 'brand': 14357,
 'enemy': 32415,
 'legend': 58653,
 'end': 32345,
 'formid': 37569,
 'call': 16529,
 'mandarin': 62662,
 'odyssey': 73151,
 'rebuild': 83687,
 'retribution': 85206,
 'behind': 10829,
 'challa': 18490,
 'return': 85229,
 'reclusive': 83782,
 'technolog': 100731,
 'advanc': 2873,
 'african': 3114,
 'nation': 70274,
 'wakanda': 109908,
 'serv': 90948,
 'country': 23394,
 'however': 47237,
 'challeng': 18494,
 'throne': 102057,
 'within': 111954,
 'own': 74900,
 'countri': 23392,
 'well': 110770,
 'reserv': 84968,
 'wakandan': 109909,
 'kings': 55322,
 'black': 12482,
 'panther': 75606,
 'mantl': 62944,
 'ex': 33818,
 'girlfriend': 40746,
 'nakia': 69895,
 'queen': 82101,
 'princess': 80464,
 'kid': 55041,
 'sister': 93255,
 'dora': 29346,
 'milaj': 66273,
 'american': 4828,
 'secret': 90218,
 'agent': 3223,
 'prevent': 80348,
 'drag': 29659,
 'career': 17191,
 'brilliant': 14845,
 'arrog': 6943,
 'surgeon': 98720,
 'leas': 58487,
 'sorcer': 95061,
 'wing': 111728,
 'train': 103625,
 'defend': 26283,
 'against': 3183,
 'imposs': 48882,
 'endless': 32374,
 'apocalypt': 6081,
 'furthest': 38820,
 'reach': 83512,
 'our': 74493,
 'desert': 27092,
 'landscap': 57764,
 'most': 68330,
 'everyon': 33730,
 'craze': 23738,
 'necess': 70547,
 'rebel': 83653,
 'run': 87361,
 'might': 66170,
 'abl': 2062,
 'kennedi': 54601,
 'miller': 66376,
 'ratpac': 83292,
 'day': 25754,
 'nazi': 70454,
 'occupi': 72964,
 'franc': 37886,
 'jewish': 52118,
 'basterds': 10104,
 'chosen': 19620,
 'specif': 95503,
 'spread': 95939,
 'throughout': 102063,
 'reich': 84304,
 'scalp': 89228,
 'kill': 55156,
 'nazis': 70462,
 'lead': 58422,
 'aldo': 3966,
 'rain': 82695,
 'cross': 24124,
 'path': 76314,
 'french': 38180,
 'teenag': 100774,
 'girl': 40739,
 'movi': 68559,
 'theater': 101622,
 'pari': 75931,
 'soldiers': 94727,
 'zehnt': 114171,
 'babelsberg': 8747,
 'visiona': 109139,
 'romantica': 86546,
 'peninsula': 76941,
 'upon': 107114,
 'france': 37889,
 'north': 72124,
 'panem': 75512,
 'twelv': 105196,
 'send': 90633,
 'boy': 14159,
 'compet': 21904,
 'hunger': 47601,
 'games': 39309,
 'part': 76066,
 'intimid': 50295,
 'tactic': 99643,
 'game': 39293,
 'televis': 100944,
 'tributes': 104144,
 'survivor': 98807,
 'remains': 84536,
 'pit': 78462,
 'highly': 45880,
 'tribut': 104141,
 'prepar': 80212,
 'these': 101759,
 'lives': 59918,
 'katniss': 54151,
 'reli': 84474,
 'sharp': 91543,
 'instinct': 49948,
 'mentorship': 65469,
 'drunken': 30065,
 'victor': 108639,
 'haymitch': 44777,
 'abernathy': 2005,
 'if': 48285,
 'she': 91625,
 'ever': 33684,
 '12': 153,
 'choic': 19509,
 'arena': 6572,
 'weigh': 110695,
 'surviv': 98798,
 'watching': 110346,
 'lionsgate': 59745,
 'color': 21555,
 'odd': 73077,
 'favor': 35137,
 'civil': 20482,
 'parker': 75962,
 'mentor': 65467,
 'balanc': 9202,
 'ordinari': 74023,
 'high': 45848,
 'student': 97650,
 'queens': 82109,
 'city': 20462,
 'superhero': 98528,
 'spider': 95655,
 'vulture': 109670,
 'pascal': 76153,
 'lstar': 60808,
 'capital': 17010,
 'homework': 46634,
 'car': 17104,
 'fly': 37124,
 'tree': 103986,
 'house': 47157,
 'elf': 31727,
 'warn': 110206,
 'second': 90207,
 'hogwarts': 46419,
 'await': 8441,
 'bloodi': 12904,
 'write': 112549,
 'announces': 5627,
 'chamber': 18518,
 'opened': 73804,
 'requir': 84928,
 'harry': 44412,
 'ron': 86605,
 'hermione': 45582,
 'courage': 23421,
 'session': 90998,
 'guardian': 42831,
 'famili': 34746,
 'togeth': 102799,
 'unravel': 106736,
 'parentage': 75914,
 'obviously': 72936,
 'trek': 104006,
 'gimli': 40645,
 'legola': 58699,
 'search': 90109,
 'orc': 73990,
 'captur': 17088,
 'merri': 65601,
 'pippin': 78382,
 'nefari': 70655,
 'saruman': 88843,
 'orthanc': 74242,
 'tower': 103454,
 'isengard': 50772,
 'rising': 85919,
 'roger': 86393,
 'sickli': 92619,
 'brooklyn': 15080,
 'transform': 103724,
 'super': 98449,
 'soldi': 94724,
 'aid': 3444,
 'skull': 93607,
 'adolf': 2792,
 'hitler': 46235,
 'ruthless': 87495,
 'head': 44847,
 'weaponry': 110558,
 'intend': 50046,
 'devic': 27385,
 'untold': 106972,
 'domination': 29151,
 'patriot': 76381,
 'comic': 21708,
 'suicid': 98137,
 'squad': 96035,
 'antihero': 5808,
 'incarcer': 49044,
 'supervillain': 98614,
 'deniabl': 26785,
 'asset': 7507,
 'state': 96552,
 'government': 41796,
 'undertak': 106171,
 'risk': 85921,
 'op': 73778,
 'exchang': 33875,
 'commut': 21845,
 'sentences': 90732,
 'atla': 7770,
 'lin': 59616,
 'worst': 112430,
 'heroes': 45602,
 'fun': 38667,
 'delic': 26509,
 'art': 6981,
 'approach': 6237,
 ...}